/* reset */

@font-face {font-family: 'SourceHanSans-Normal';
  src: url('//at.alicdn.com/t/webfont_i1x9qdvv9veipb9.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/webfont_i1x9qdvv9veipb9.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/webfont_i1x9qdvv9veipb9.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/webfont_i1x9qdvv9veipb9.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/webfont_i1x9qdvv9veipb9.svg#NotoSansHans-DemiLight') format('svg'); /* iOS 4.1- */
}
@font-face {font-family: 'SourceHanSans-Regular';
  src: url('//at.alicdn.com/t/webfont_3zbo8eop57ory66r.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/webfont_3zbo8eop57ory66r.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/webfont_3zbo8eop57ory66r.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/webfont_3zbo8eop57ory66r.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/webfont_3zbo8eop57ory66r.svg#思源黑体-普通') format('svg'); /* iOS 4.1- */
}

html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu {
	margin: 0;
	padding: 0;
}

header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details {
	display: block;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

caption,
th {
	text-align: left;
	font-weight: normal;
}

html,body,fieldset,img,iframe,abbr {
	border: 0;
}

i,cite,em,var,address,dfn {
	font-style: normal;
}

[hidefocus],
summary {
	outline: 0;
}

li {
	list-style: none;
}

h1,h2,h3,h4,h5,h6,small {
	font-size: 100%;
}

sup,sub {
	font-size: 83%;
}

pre,code,kbd,samp {
	font-family: inherit;
}

q:before,
q:after {
	content: none;
}

textarea {
	overflow: auto;
	resize: none;
}

label,summary {
	cursor: default;
}

a,button {
	cursor: pointer;
}

h1,h2,h3,h4,h5,h6,em,strong,b {
	font-weight: bold;
}

del,ins,u,s,a,a:hover {
	text-decoration: none;
}

body,textarea,input,button,select,keygen,legend {
	font: 12px/1.14 arial, \5b8b\4f53;
	/*color: #333;*/
	outline: 0;
}

body {
	background: #fff;
}

a,
a:hover {
	color: #333;
}
.left{
	float: left;
}
.right{
	float: right;
}
/* 全屏自适应布局  */

html,
body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0;
	background: #333;
	font-family: "SourceHanSans-Regular", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}


/*自定义滚动条*/
 ::-webkit-scrollbar{
 width: 16px;
 background:#181818 ;
 }  
 ::-webkit-scrollbar-button:start{
 background:url(../images/scrollbtnT.png) ;
 }  
  ::-webkit-scrollbar-button:end{
 background:url(../images/scrollbtnB.png) ;
 } 
 ::-webkit-scrollbar-thumb{
 background: #5a5a5a;
 }   
 Body {
scrollbar-arrow-color: #66686c;  /*图6,三角箭头的颜色
scrollbar-face-color: #5a5a5a;  /*图5,立体滚动条的颜色*/
scrollbar-3dlight-color: #5a5a5a;  /*图1,立体滚动条亮边的颜色*/
scrollbar-highlight-color: #181818;  /*图2,滚动条空白部分的颜色*/
scrollbar-track-color: #181818;  /*图7,立体滚动条背景颜色*/
scrollbar-base-color:#5a5a5a;  /*滚动条的基本颜色*/
Cursor:url(mouse.cur);  /*自定义个性鼠标*/
}    
.lanwon-viewer{
	display: inline-block;
	height: 68px;
	line-height: 68px;
}
.lanwon-viewer img{
	vertical-align: middle;
	margin-left: 10px;
}

.tool-zoom{
	background-position-x:0 ;    	/*图片缩放*/
}
.tool-magnifier{
	background-position-x:-96px ;    	/*放大镜*/
}
.tool-rotate{
	background-position-x:-64px;    	/*旋转*/
}
.tool-move{
	background-position-x:-128px;    	/*移动*/
}
.tool-mark{
	background-position-x:-32px;    	/*标注测量*/
}
.tool-line{
	background-position-x:-160px;    	/*直线测量*/
}
.tool-angle{
	background-position-x: -224px;    	/*夹角测量*/
}
.tool-rectangle{
	background-position-x: -256px;    	/*矩形测量*/
}
.tool-draw{
	background-position-x: -192px;    	/*描线测量*/
}
.tool-polygon{
	background-position-x: -416px;    	/*多边形测量*/
}
.tool-arrows{
	background-position-x: -448px;    	/*箭头标注*/
}
.tool-text{
	background-position-x: -480px;    	/*文本标注*/
}
.tool-thorax{
	background-position-x: -512px;    	/*心胸比测量*/
}
.tool-blood{
	background-position-x: -544px;    	/*血管狭窄比测量*/
}
.tool-ellipse{
	background-position-x: -576px;    	/*椭圆测量*/
}
.tool-dot{
	background-position-x: -608px;    	/*点测量*/
}
.tool-linegray{
	background-position-x: -736px;    	/*线灰度测量*/
}
.tool-layout{
	background-position-x: -384px;    	/*默认布局*/
}
.tool-layout-1x1{
	background-position-x: -960px;    	/*1x1布局*/
}
.tool-layout-2x2{
	background-position-x: -992px;    	/*2x2布局*/
}
.tool-layout-1x2{
	background-position-x: -1024px;    	/*3x3布局*/
}
.tool-adjustment{
	background-position-x: -288px;    	/*调窗*/
}
.tool-inverse{
	background-position-x: -320px;    	/*黑白反色*/
}
.tool-next{
	background-position-x: -768px;    	/*下一张*/
}
.tool-prev{
	background-position-x: -800px;    	/*上一张*/
}
.tool-restore{
	background-position-x: -832px;    	/*一键*/
}
.tool-play{
	background-position-x: -1056px;    	/*播放*/
}
.tool-flip{
	background-position-x: -1088px;    	/*水平翻转*/
}
.tool-mirror{
	background-position-x: -1120px;    	/*垂直翻转*/
}
.tool-save{
	background-position-x: -352px;    	/*保存影像*/
}
.tool-location{
	background-position-x: -928px;    	/*自动平面定位*/	
}
.tool-listsr{
	background-position-x: -896px;    	/*序列同步*/	
}
.tool-allsr{
	background-position-x: -864px;    	/*全部同步*/	
}
.tool-position{
	background-position-x: -640px;    	/*定位线显示*/	
}
.tool-more{
	background-position-x: -1152px;    	/*更多*/	
}
.tool-scroll{
	background-position-x:-1184px;     /*图片切换*/
}
.large-screen,.ipad-screen{
	display: inline-block;
}
.tool-list,.tool-more{
	background-position-x: -1152px;    	/*序列*/	
}

.tool-scroll {
    background-position-x: -1216px; /*图片切换*/
    }
   








.progress-bar-color{
	background-color:#383842;
}


/*放大镜工具*/
.magnifyTool {
	width: 225px;
	height: 225px;
    border: 4px white solid;
    box-shadow: 2px 2px 10px #1e1e1e;
    border-radius: 50%;
    display: none;
    cursor: none;
}


/*箭头标注*/
/* prevents selection when left click dragging */
        .disable-selection {
            -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;
        }
        /* prevents cursor from changing to the i bar on the overlays*/
        .noIbar {
            cursor:default;
        }
        .annotationDialog, .relabelDialog {
            z-index: 1000;
            position: absolute;
            margin: 0px;
            left: 40%;
            top: 40%;
            width: 300px;
            border: 1px black solid;
            border-radius: 5px;
        }
        .annotationTextInputOptions {
            padding: 5px 0px;
        }
        .annotationTextInput {
            margin-left: 5px;
        }
        /*.annotationDialogConfirm {
            float: right;
        }*/
        


.annotationDialog h5, .relabelDialog h5{

    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.1;
	
}

.annotationDialog .annotationTextInput,.relabelDialog .annotationTextInput{
    font: 14px/1.42857143 arial, \5b8b\4f53;
}

dialog a{
	margin: 5px;
}
.sidenav-demo{
	position: absolute;
	top: 0;
	width: 100%;
	bottom: 88px;
	background: #fff;
	z-index:9999;
	overflow: auto;    
}
.sidenav-demo ul li{
	width:40%;
	float: left;
	height: 400px;
	background-color: #009E94;
	margin: 2%;
}
.clear{
	clear: both;height: 1px;width: 1px;
}
